<!DOCTYPE html>
<html>
  <head>
    <title>Feedback Form Design | Webkit Coding</title>
    <link rel="stylesheet" type="text/css" href="./styles/contact.css" />
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section></section>
    <form
      action="https://formsubmit.co/team.lunaticbyte@gmail.com"
      method="POST"
    >
      <div class="container">
        <form>
          <h1>Give your Feedback</h1>
          <div class="id">
            <input type="text" name="Name" placeholder="Full name" />
            <i class="far fa-user ico"></i>
          </div>
          <div class="id">
            <input type="email" name="Email" placeholder="email address" />
            <i class="far fa-envelope ico"></i>
          </div>

          <textarea
            cols="16"
            rows="5"
            placeholder="enter your Feedback"
            class="id texta"
            name="Feedback"
          ></textarea>
          <input type="hidden" name="_template" value="table" />
          <button>Send</button>
        </form>
      </div>
    </form>
  </body>
</html>
